[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
ghp-import = "*"
kroman = "*"
pelican = "*"
pendulum = "*"
Markdown = {version = "<3.0"}
typogrify = "*"
click = "*"
black = "==19.3b0"

[scripts]
new = './write.py new'
fix = 'black -l 80 .'

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
